

:root {
	--bg-primary: #06060c;
	--bg-secondary: #0b0b11;
	--bg-tertiary:#1e1f28;
	--bg-dark-gray:rgba(255, 255, 255, 0.08);
	--text-primary: #fff;
	--text-success: #16913b;
	--text-neutral: #e5e7eb;
	--text-warning: #a43b3b;
	--text-info: #477fa8; 
	--text-telegram: #2AABEE;
	--theme-first-color: #ed4cb6;
    --theme-second-color: #ee4056;
	--radius-small: 6px;
	--radius-medium: 9px;
	--radius-large: 25px;
	--container-width: 1100px;
	--container-width-small:400px;
	--container-width-medium:680px;
}


html {
	tab-size: 4;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-feature-settings: normal;
    scroll-behavior: smooth;
}

.btn-float-telegram{
		position:fixed;
		width:60px;
		height:60px;
		bottom:20px;
		right:25px;
		padding: 13px 19px 19px 14px;
		background-color: #28a7ea;
		color: #ffffff;
		border: 0;
		border-radius:50%;
}


 *{
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text; 
}

select option {
   background-color:var(--bg-tertiary);
   color:  var(--text-neutral); 
}


body {
	font-weight: 400;
	font-size: 1.05rem;
	font-family: 'Manrope', sans-serif;
	line-height: 1.90rem;
}

a:link, a:visited {
	transition: all 0.2s ease-out;
    color:var(--text-primary);
}

a:hover, a:active {
    color:var(--theme-first-color);
}

header > .container > *:not(:second-child) {
  flex: 0 1 auto;
  width: 100px;
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}

.container_small {
	width: var(--container-width-small);
	margin: 0 auto;
}

.container_medium {
	width: var(--container-width-medium);
	margin: 0 auto;
}


.text_small {
	font-size: 0.60rem;
	
}

.text_large {
	font-size: 1.45rem;
	line-height:2rem;
}

.text_xlarge {
	font-size: 1.65rem;
	line-height:2.3rem;
}

.text_2xlarge {
	font-size: 1.95rem;
	line-height:2.45rem;
}

.text_3xlarge {
	font-size: 2.15rem;
	line-height:3.2rem;
}

.text_4xlarge {
	font-size: 3rem;
	line-height:3.90rem;
}

.text_highlight {

}


.weight_normal{
    font-weight:400
}
.weight_semibold{
    font-weight:600
}
.weight_bold{
    font-weight:600
}

.line_through {
  text-decoration: line-through;
}

.transform_uppercase {
  text-transform:uppercase;

}

.theme_text_gradient {
	background-image: linear-gradient(45deg, var(--theme-first-color),var(--theme-second-color));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.theme_first_color {
   color:var(--theme-first-color);
}

.position_absolute {
  position:absolute;	
}

.position_relative {
  position:relative;
}

.position_fixed {
  position:fixed;
}

.align_center {
	text-align: center;
}

.align_left {
	text-align: left;
} 

.align_right {
	text-align: right;
}

.items_center {
	align-items: center; 
}

.grid_container {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1.2rem;  
}

.grid_vouches_container {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 1.2rem;  
}

.flex_content {
 justify-content: space-between;
}


.flex_container {
	display: flex;
}

.flex_wrap {
  flex-wrap:wrap;
}

.flex_grow {
  flex-grow:1;	
}

.flex_rows_2 {
  flex-basis: calc(50% -  0.5rem);
}


.flex_rows_3 {
  flex-basis: calc(32.50% - 0.5rem);
}

.flex_rows_4 {
 flex-basis: calc(24% - 0.5rem);
}

.flex_full {
   flex:1;
}

.flex_grid_3 {
	flex-basis: 33.33%;
}

.block {
   display:block;
}

.inline_block {
   display:inline-block;
}

.none {
  display:none;
}

.vmiddle {
  vertical-align: middle;
}

[data-width="100px"] {
	width: 100px;
}

[data-width="60px"] {
	width: 60px;
}

[data-width="1%"] {
	width: 1%;
}

[data-width="2%"] {
	width: 1%;
}

[data-width="5%"] {
	width: 5%;
}

[data-width="7.5%"] {
	width: 7.5%;
}

[data-width="10%"] {
	width: 10%;
}

[data-width="12.5%"] {
	width: 12.5%;
}

[data-width="15%"] {
	width: 15%;
}

[data-width="17.5%"] {
	width: 17.5%;
}

[data-width="20%"] {
	width: 20%;
}

[data-width="25%"] {
	width: 25%;
}

[data-width="30%"] {
	width: 30%;
}

[data-width="33%"] {
	width: 33%;
}

[data-width="35%"] {
	width: 35%;
}

[data-width="40%"] {
	width: 40%;
}

[data-width="45%"] {
	width: 45%;
}

[data-width="50%"] {
	width: 50%;
}

[data-width="55%"] {
	width: 55%;
}

[data-width="60%"] {
	width: 60%;
}

[data-width="65%"] {
	width: 65%;
}

[data-width="70%"] {
	width: 70%;
}

[data-width="75%"] {
	width: 75%;
}

[data-width="80%"] {
	width: 80%;
}

[data-width="85%"] {
	width: 85%;
}

[data-width="90%"] {
	width: 90%;
}

[data-width="95%"] {
	width: 95%;
}

[data-width="100%"] {
	width: 100%;
}

[data-width="100%"] {
	width: 100%;
}

[data-width="200px"] {
  width:200px;	
}

[data-width="40px"] {
  width:40px;	
}

[data-width="300px"] {
  width:300px;	
}


[data-width="400px"] {
  width:400px;	
}

[data-width="600px"] {
  width:600px;	
}

[data-width="800px"] {
  width:800px;	
}

[data-height="40px"] {
 height:40px;	
}

[data-height="46px"] {
 height:46px;	
}


[data-height="80px"] {
 height:80px;	
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

.border {
  border-style:solid;
  border-width:0;
} 

.border_full {
  border-width:1px;
}

.border_neutral {
  border-color:var(--text-neutral);
}

.border_dark_gray {
	border-color:var(--bg-dark-gray);
}

.border_warning {
	border-color:var(--text-warning);
}

.border_top {
	border-top-width: 1px;
}

.border_left {
	border-left-width: 1px;
}

.border_bottom {
	border-bottom-width: 1px;
}

.border_right {
	border-right-width: 1px;
}


.m_1 {
	margin: 0.25rem;
}

.m_2 {
	margin: 0.5rem;
}

.m_3 {
	margin: 0.75rem;
}

.m_4 {
	margin: 1rem;
}

.-m_1 {
	margin:-0.25rem;
 }

.-m_2 {
	margin:-0.5rem;
 }

.-m_4 {
   margin:-1rem;
}

.m_5 {
	margin: 1.25rem;
}

.m_6 {
	margin: 1.5rem;
}

.m_7 {
	margin: 1.75rem;
}

.m_8 {
	margin: 2rem;
}

.ml_auto {
  margin-left:auto;	
}

.-ml_2 {
	margin-left: -0.5rem;
}

.ml_1 {
	margin-left: 0.25rem;
}

.ml_2 {
	margin-left: 0.5rem;
}

.ml_3 {
	margin-left: 0.75rem;
}

.ml_4 {
	margin-left: 1rem;
}

.ml_5 {
	margin-left: 1.25rem;
}

.ml_6 {
	margin-left: 1.5rem;
}

.ml_7 {
	margin-left: 1.75rem;
}

.ml_8 {
	margin-left: 2rem;
}

.mt_1 {
	margin-top: 0.25rem;
}

.mt_2 {
	margin-top: 0.5rem;
}

.mt_3 {
	margin-top: 0.75rem;
}

.mt_4 {
	margin-top: 1rem;
}

.mt_5 {
	margin-top: 1.25rem;
}

.mt_6 {
	margin-top: 1.5rem;
}

.mt_7 {
	margin-top: 1.75rem;
}

.mt_8 {
	margin-top: 2rem;
}

.mt_12 {
	margin-top: 3rem;
}

.-mt_0 {
   margin-top:-0.5rem;	
}

.-mt_2 {
  margin-top:-1.5rem;	
}

.mr_1 {
	margin-right: 0.25rem;
}

.mr_2 {
	margin-right: 0.5rem;
}

.mr_3 {
	margin-right: 0.75rem;
}

.mr_4 {
	margin-right: 1rem;
}

.mr_5 {
	margin-right: 1.25rem;
}

.mr_6 {
	margin-right: 1.5rem;
}

.mr_7 {
	margin-right: 1.75rem;
}

.mr_8 {
	margin-right: 2rem;
}

.mr_auto {
  margin-right:auto;	
}


.mb_1 {
	margin-bottom: 0.25rem;
}

.mb_2 {
	margin-bottom: 0.5rem;
}

.mb_3 {
	margin-bottom: 0.75rem;
}

.mb_4 {
	margin-bottom: 1rem;
}

.mb_5 {
	margin-bottom: 1.25rem;
}

.mb_6 {
	margin-bottom: 1.5rem;
}

.mb_7 {
	margin-bottom: 1.75rem;
}

.mb_8 {
	margin-bottom: 2rem;
}

.mb_12 {
	margin-bottom: 3rem;
}

.-mb_2 {
	margin-bottom: -0.50rem;
  }

.p_1 {
	padding: 0.25rem;
}

.p_2 {
	padding: 0.5rem;
}

.p_3 {
	padding: 0.75rem;
}

.p_4 {
	padding: 1rem;
}

.p_5 {
	padding: 1.25rem;
}

.p_6 {
	padding: 1.5rem;
}

.p_7 {
	padding: 1.75rem;
}

.p_8 {
	padding: 2rem;
}


/*cell padding*/
.p_cell {
   padding:0.5rem 1rem;	
}

.pl_1 {
	padding-left: 0.25rem;
}

.pl_2 {
	padding-left: 0.5rem;
}

.pl_3 {
	padding-left: 0.75rem;
}

.pl_4 {
	padding-left: 1rem;
}

.pl_5 {
	padding-left: 1.25rem;
}

.pl_6 {
	padding-left: 1.5rem;
}

.pl_7 {
	padding-left: 1.75rem;
}

.pl_8 {
	padding-left: 2rem;
}

.pt_1 {
	padding-top: 0.25rem;
}

.pt_2 {
	padding-top: 0.5rem;
}

.pt_3 {
	padding-top: 0.75rem;
}

.pt_4 {
	padding-top: 1rem;
}

.pt_5 {
	padding-top: 1.25rem;
}

.pt_6 {
	padding-top: 1.5rem;
}

.pt_7 {
	padding-top: 1.75rem;
}

.pt_8 {
	padding-top: 2rem;
}

.pt_12 {
	padding-top: 3rem;
}


.pt_22 {
	padding-top: 5rem;
}

.pr_1 {
	padding-right: 0.25rem;
}

.pr_2 {
	padding-right: 0.5rem;
}

.pr_3 {
	padding-right: 0.75rem;
}

.pr_4 {
	padding-right: 1rem;
}

.pr_5 {
	padding-right: 1.25rem;
}

.pr_6 {
	padding-right: 1.5rem;
}

.pr_7 {
	padding-right: 1.75rem;
}

.pr_8 {
	padding-right: 2rem;
}

.pb_1 {
	padding-bottom: 0.25rem;
}

.pb_2 {
	padding-bottom: 0.5rem;
}

.pb_3 {
	padding-bottom: 0.75rem;
}

.pb_4 {
	padding-bottom: 1rem;
}

.pb_5 {
	padding-bottom: 1.25rem;
}

.pb_6 {
	padding-bottom: 1.5rem;
}

.pb_7 {
	padding-bottom: 1.75rem;
}

.pb_12 {
	padding-bottom: 3rem;
}


.pb_8 {
   padding-bottom: 2rem;
}


.pb_22 {
	padding-bottom: 5rem;
}

.textbox { 
	line-height: 1.5;
	padding: 0.5rem 0.65rem;
    border-radius:var(--radius-small);
	color:var(--text-neutral);
	border:none;
	background-color:var(--bg-tertiary);
}

.button {

  border-radius:var(--radius-small);
}

.button_outlined {

  border:2px solid var(--theme-first-color);
}


a.button, button.button {
   transition: all 0.5s ease-out;	
}

a.button:hover, button.button:hover {
   opacity:0.7;
}




.button_solid {
	background-image: linear-gradient(to right, var(--theme-first-color) 0%,var(--theme-second-color) 100%);
}

.width_full {
  width:100%;
}

.width_auto {
	width:auto;
}

.height_auto {
  height:auto;
}

.height_full {
  height:100%;
}

.bg_theme_gradient {
	background-image: linear-gradient(45deg, var(--theme-first-color),var(--theme-second-color));
}

.bg_primary {
  background-color:var(--bg-primary);
 
 
}

.bg_secondary {
	background-color:var(--bg-secondary);
}

.bg_tertiary {
	background-color:var(--bg-tertiary);
}

.bg_none {
    background-color:transparent;

}

.bg_gradient {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center center;
  filter: hue-rotate(40deg) blur(80px);
  
  opacity: 0.3;
  background-image: url(images/gradient_bg.jpg);
  background-repeat: no-repeat;	
}

.bg_warning {
   background-color:var(--text-warning);	
}

.bg_success {
   background-color:var(--text-success);	
}

.bg_info {
   background-color:var(--text-info);	
}
 
.bg_transparent {
	background-color:rgba(255,255,255, 0.025);
}

.bg_telegram {
	background-color:var(--text-telegram);
}

.color_primary {
   color:var(--text-primary);
}

.color_neutral {
	color:var(--text-neutral);
 }

 .color_success {
   color:var(--text-success);

 }

.color_warning {
  color:var(--text-warning);
}

.color_dark {
  color:rgba(0,0,0, 0.700);	
}

.radius_small {
  border-radius:var(--radius-small);
}

.radius_medium {
  border-radius:var(--radius-medium); 

}

.radius_left_medium {
   border-radius: var(--radius-medium) 0 0 var(--radius-medium);
}

.radius_right_medium {
   border-radius: 0 var(--radius-medium) var(--radius-medium) 0;
}

.radius_large {
	border-radius:var(--radius-large); 

}


.product_image {
	height: 140px;

	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.product_image:not([style]) {
  background-image: url(images/product_placeholder.png);
  background-size:80%;
}

.product_title {
  height:60px;
}

.z_index:999 {
  z-index:999;	
}

.stats_block {
   position:relative;
}

.stats_block:before, .stats_block:after  {
  position:absolute;
  content:"";
  width: 20px;
  height: 20px;
  background-size: 100%;
  top: 20px;	
  background-image: url(images/divider.png);
}


.stats_block:before {
  left:-20px;	
}

.stats_block:after {
  right:-10px;	
}


.hero_image {
  background-image:url(images/peach_1.png);
  background-size: 50%;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center 40%;
}


.hero_image:after {
  background-image:url(images/hero_circle.png);
  background-size: 100% 100%;
  position: absolute;
  z-index: 5;
  content: "";
  animation: rotation 15s infinite linear;
  width: 100%;
  height: 100%;
  top:-10px;
  background-repeat: no-repeat;
  background-position: center center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.sticky_buttons {
   position:fixed;
   right:20px;
   z-index:999;
   bottom:35px;
}

.sticky_buttons > a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 20px;
  background-size: 27px 27px;
  background-repeat: no-repeat;
  background-position: center center;
}

.telegram_button {
  background-color:#28a8ea;
  background-image:url(images/telegram.png);	
}

.discord_button {
  background-color:#7289DA;
  background-image:url(images/discord.png);	
}

.search_form {
  position:sticky;
 
  z-index:999;
  top:10px;  
}

.search_button {
  left:8px;
  bottom:12px;  
}

.logo img {
  width:180px;	
}


