@media only screen and (max-width: 768px) {
:root {
  --container-width: 98%;
  --container-width-small: 98%;
   --container-width-medium: 98%;
}

.flex_container:not(.flex_persistent) {
  display:block;	
}

.flex_persistent .flex_rows_4  {
  flex-basis: calc(50% - 0.5rem);
  margin-bottom:0.5rem;
}

.flex_container [data-width*="%"]{
   width:auto;	
}

.hero_image {
  display:none;	
}

.navigation {
  margin:0;
  padding:0;

  margin-top:1rem;
  text-align:center;	
  display:none;	
}

.navigation .ml_7 {
  margin:0;
  padding:0.5rem 1rem;
  text-align:left;
  display:block;  
}

.nav_button {
  display:inline-block !important;	
}

.navigation.navigation_visible {
  display:block !important;	
}


.flex_footer > [data-width] {
   padding:0.5rem;	
}

.flex_footer > [data-width]:first-child {
   text-align:center;	
}

.flex_footer > [data-width]:first-child img {

  position:relative;
  top:0.1rem;  
}

.flex_footer > [data-width]:first-child img + div {
  text-align:left;	
}

.flex_footer > [data-width]:nth-child(2) {
  float:left;	
  width:45%;
}

.flex_footer > [data-width]:nth-child(3), .flex_footer > [data-width]:nth-child(4) {
  float:right;	
  width:45%;
}

#product {
  padding-left:0;
  margin-left:2px;  
}

}
