.border-gradient {
	background: linear-gradient(to right, #00d5ff, #2306e6);
	border-radius: 9999px;
	padding: 1px;
}

.border-gradient input {
	background: #4C0070;
	border-radius: 9999px;
}

.search-icon {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%239F7AEA"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 11-2 0 1 1 0 012 0zm-1 9a5 5 0 114-5 5 5 0 01-4 5z" clip-rule="evenodd" /></svg>');
	width: 20px;
	height: 20px;
	margin-right: 16px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2.5rem;
	pointer-events: none;
}

.gradient-border {
	background: linear-gradient(to right, #02bbff, #3300ff);
	border-radius: 0.5rem;
	padding: 1px;
}

.navbar-inner {
	background: #1F2937;
	border-radius: calc(0.5rem - 1px);
	padding: 1rem;
}

@media (min-width: 768px) {
	.navbar-inner {
		padding: 1rem 2rem;
	}
}


.nav-link {
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: 0.05em;
}

.login-button {
	background-color: #0a1eb1;
	padding: 12px 24px;
	border-radius: 0.375rem;
	font-size: 1.125rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 12px;
}

.login-icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 1.5em;
	height: 1.5em;
	content: "";
}


.blurred-image {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 50%;
	background: url('removed.png') no-repeat;
	background-size: 150%;
	background-position: left center;
	filter: blur(1000px);
	z-index: -1;
}

.border-pink {
	-webkit-text-stroke: 1px #4304d7;
}

.border-blue {
	-webkit-text-stroke: 1px #000dff;
}

.border-split {
	background: linear-gradient(to right, #1704e8 50%, #0384e1 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px transparent;
}

.gradient-text {
	font-size: 3rem;

	font-weight: bold;
	background: linear-gradient(to right, #2e04d7, #240faa);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;

	text-shadow: 0 0 2px rgba(234, 225, 231, 0.5),
		0 0 5px rgba(6, 63, 218, 0.5),
		0 0 10px rgba(10, 167, 188, 0.5),

		0 0 15px rgba(19, 19, 232, 0.5);

	-webkit-text-stroke: 1px transparent;

}


.gradient-text::after {
	content: attr(data-text);

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: linear-gradient(to right, #2e04d7, #240faa);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: blur(1px);

	opacity: 0.2;

}

.gradient-borders {
	background: linear-gradient(to right, #2e04d7, #ff00f7);
	padding: 3px;
	border-radius: 0.5rem;
}

.gradient-borders button {
	color: white;
	border: none;
	padding: 0.75rem 2rem;
}

.product-button {
	padding: 0;

}

.btn-product {
	background-color: #6D28D9;
	color: white;
	font-weight: bold;
	padding: 10px 0;
	display: block;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 300ms, transform 300ms, border-color 300ms;
	width: 100%;
	margin: auto;
}

.btn-product:hover {
	background-color: transparent;

	color: white;

	border-color: #5B21B6;

	transform: none;

}


.category_buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	gap: 10px;

	margin-bottom: 20px;

}


.category_button {
	border: 1px solid transparent;

	background-clip: padding-box;
	border-radius: 20px;

	padding: 8px 16px;

	background-color: #333;

	color: #fff;

	font-weight: bold;

	cursor: pointer;
	text-transform: uppercase;

	transition: background-color 0.3s, color 0.3s, border 0.3s;
	font-size: 0.875rem;

}


.category_button:hover {
	background-color: #490468;

	border: 1px solid #490468;

}


.category_button.active {
	background-color: #490468;

	color: #fff;

	border: 1px solid #490468;

}

@media (max-width: 768px) {
	.category_buttons {
		justify-content: space-around;
	}

	.category_button {
		flex: 1 0 21%;

		text-align: center;

		margin-bottom: 10px;

	}
}


.gradient-border-input {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;

}

.gradient-border-input::before {
	content: '';
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	border-radius: 20px;
	background: linear-gradient(to right, #d70498, #01ECEA);
	z-index: -1;
	padding: 1px;

}

.gradient-border-input input {
	width: 100%;
	padding: 12px 20px;
	border-radius: 19px;

	border: none;
	outline: none;
	color: white;
	font-size: 1rem;
	background-color: transparent;

	z-index: 1;

}


@media (max-width: 768px) {
	.gradient-border-input {
		width: 100%;

	}

	.gradient-border-input input {
		padding: 8px 16px;

	}
}


.right-blur-container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: flex-end;

}

.blur-effect-image {
	position: absolute;
	right: -940px;

	top: 0;

	width: 50%;

	height: 100%;

	background-image: url('removed.png');

	background-size: cover;
	filter: blur(1000px);
	transform: scale(1.5) rotate(90deg);
}

.blur-side-content {
	z-index: 1;

	padding: 20px;
	text-align: right;

	width: 50%;

	display: none;
}




.outer-container {
    overflow: hidden;
    position: relative;
    height: 50px;
    display: flex;
}

.scrolling-container {
    height: 50px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.scrolling-content {
    position: absolute;
    display: flex;
    white-space: nowrap;
}

.product-name {
    padding: 10px 20px;
    display: inline-block;
	border: 1px dashed #FFF !important;
	border-radius: 50px !important;
}






@keyframes scrollRightToLeft {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

.scrolling-container:hover .scrolling-content {
	animation-play-state: paused;
}

@media (max-width: 768px) {
	.product-name {
		padding: 8px 16px;
		margin: 0 10px;
	}
}



.content-description {
	text-align: center;
	padding: 20px;
	line-height: 1.2;
}

.main-title {
	font-size: 40px;
	font-weight: bold;
	color: #0ad9ea;
	display: block;
	margin: 1;
}


.sub-title {
	font-size: 25px;
	font-weight: bold;
}

.dynamic-part {
	color: #01ECEA;
	position: relative;
	animation: slideUp 1s ease-in-out;
}

.dynamic-part2 {
	color: #01ECEA;
	position: relative;
	animation: slideUp 1s ease-in-out;
}



@keyframes slideUp {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}



@media (max-width: 768px) {
	.main-title {
		font-size: 20px;
	}

	.sub-title {
		font-size: 16px;
	}
}



#cursor {
	animation: blink 0.75s step-end infinite;
}

@keyframes blink {
	50% {
		color: transparent;
	}
}